<ul class="navigation-inner{% if classes %} {{ classes }}{% endif %}">
    <li>{% if first %}<a href="{{ first }}">{% endif %}<i class="icon-navigation-first"></i>{% if first %}</a>{% endif %}</li>
    <li>{% if left %}<a href="{{ left }}">{% endif %}<i class="icon-navigation-left"></i>{% if left %}</a>{% endif %}</li>
    <li class="navigation-toc">
        <form action="." method="post">
            <div class="navigation-toc-chapter">
                <select name="chapter">
                    {% for chapter in chapters %}
                        <option value="{% url comics.chapters.read chapter.slug %}"{% if chapter == current_chapter %}selected="selected"{% endif %}>{{ chapter.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="navigation-toc-episode">
                <select name="comics">
                    {% for entry in comics %}
                        <option value="{% url comics.read entry.chapter.slug entry.position %}"{% if entry == current_comics %} selected="selected"{% endif %}>{{ entry.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </li>
    <li>{% if right %}<a href="{{ right }}">{% endif %}<i class="icon-navigation-right"></i>{% if right %}</a>{% endif %}</li>
    <li>{% if last %}<a href="{{ last }}">{% endif %}<i class="icon-navigation-last"></i>{% if last %}</a>{% endif %}</li>
</ul>