<!DOCTYPE html>{% load less %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} / Абакрон</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}{% less 'less/style.less' %}">
        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="container">

            <header>

                <nav>
    
                    <ul id="navigation-main">
                        <li><a href="#">Читать комикс!</a></li>
                        <li><a href="#">Бонусы</a></li>
                        <li><a href="#">Ваши вопросы</a></li>
                        <li><a href="#">Пожертвования</a></li>
                    </ul>

                    <ul id="navigation-resources">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-rss"></i></a></li>
                    </ul>
                    
                </nav>
            </header>

            <article>
                {% block content %}{% endblock %}
            </article>

            <footer>
                <p>«<strong>Абакрон</strong>» © {% now 'Y' %} Комикс: <a href="http://dvan.helloacy.ru">Иван «D.Van» Хорошев</a>; Сайт и поддержка: <a href="http://svartalf.info">SvartalF</a>.</p>
            </footer>

        </div>

    </body>
</html>