<!DOCTYPE html>{% load less static_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} / Абакрон</title>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}{% less 'less/style.less' %}">
        {% static_domains_dns_prefetch %}
        <script type="text/javascript" src="{% static 'js/libs/modernizr.js' %}"></script>
        <script type="text/javascript">
            Modernizr.load([
                '{% url jsroutes %}',
                '{% static 'js/libs/jquery.1.7.2.js' %}',
                '{% static 'js/libs/spine/spine.js' %}',
                '{% static 'js/libs/spine/relation.js' %}',
                '{% static 'js/libs/spine/ajax.js' %}',
                '{% static 'js/models.js' %}',
                '{% static 'js/controllers.js' %}',
            ]);
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="container">

            <header>

                <nav>
    
                    <ul id="navigation-main">
                        <li><a href="{% url comics.index %}">Читать комикс!</a></li>
                        <li><a href="#">Бонусы</a></li>
                        <li><a href="#">Ваши вопросы</a></li>
                        <li><a href="#">Пожертвования</a></li>
                    </ul>

                    <ul id="navigation-resources">
                        <li><a href="#"><i class="icon-rss"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                    </ul>
                    
                </nav>
            </header>

            <article>
                {% block content %}{% endblock %}
            </article>

            <footer>
                <p>«<strong>Абакрон</strong>» © {% now 'Y' %} Комикс: <a href="http://dvan.helloacy.ru">Иван «D.Van» Хорошев</a>; Сайт и поддержка: <a href="http://svartalf.info">SvartalF</a>.</p>
            </footer>

        </div>

    </body>
</html>