<!DOCTYPE html>{% load less static_tags %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} / Абакрон</title>
        <link href="{% url feed %}" rel="alternate" type="application/rss+xml">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}{% less 'less/style.less' %}">
        {% static_domains_dns_prefetch %}
        <script type="text/javascript" src="{% static 'js/libs/modernizr.js' %}"></script>
        <script type="text/javascript">
            Modernizr.load([
                '{% url jsroutes %}',
                '{% static 'js/libs/jquery.1.7.2.js' %}',
                '{% static 'js/libs/spine/spine.js' %}',
                '{% static 'js/libs/spine/relation.js' %}',
                '{% static 'js/libs/spine/ajax.js' %}',
                '{% static 'js/models.js' %}',
                '{% static 'js/controllers.js' %}',
                '{% static 'js/libs/bootstrap-modal.js' %}'
            ]);
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="container">

            <header>

                <nav>
    
                    <ul id="navigation-main">
                        <li><a href="{% url comics.index %}">Читать комикс!</a></li>
                        <li><a href="#">Бонусы</a></li>
                        <li><a href="{% url faq.index %}">Ваши вопросы</a></li>
                        <li><a href="/donations/">Пожертвования</a></li>
                    </ul>

                    <ul id="navigation-resources">
                        <li><a href="{% url feed %}"><i class="icon-rss-resource"></i></a></li>
                        <li><a href="#"><i class="icon-twitter-resource"></i></a></li>
                    </ul>
                    
                </nav>
            </header>

            <article>
                {% block content %}{% endblock %}
            </article>

            <footer>
                <p>«<strong>Абакрон</strong>» © {% now 'Y' %} Комикс: <a href="http://dvan.helloacy.ru">Иван «D.Van» Хорошев</a>; Сайт и поддержка: <a href="http://svartalf.info">SvartalF</a>.</p>
            </footer>
        </div>

        {% comment %}
        <div id="modal-authentication" class="modal">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h3>Вход на сайт</h3>
            </div>
            <div class="modal-body">
                <ul>
                    {% for backend in social_auth.backends %}
                        <li>
                            <a href="{% url socialauth_begin backend %}">
                                <i class="icon-left icon-social"></i>{{ backend|capfirst }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">Закрыть</a>
            </div>
        </div>
        {% endcomment %}

    </body>
</html>